// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

tbody {
    width: 100%;
    height: 100px;
    background-color: #3B5998;
    font-size: 1.5rem;
}